<h1>Redly</h1>
<div id="content">
</div>
<h2> Welcome back, <%= current_user.user_name %><h2>
<%= button_to "logout", session_url, method: :delete %>

<br>
<h2>Add Feed</h2>
<%= form_for :feed, url: "/api/feeds" do |f| %>
  Url <%= f.text_field :url %><br />
  <%= f.submit %>
<% end %>
