<% if flash[:errors] %>
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    <%= flash[:errors].join("").html_safe %>
  </div>

<% end %>

<h1 class="landing-header">The Stories You Want</h1>
<p class="tagline">Newspapers, Blogs, & Feeds</p>
<p class="sign-up-buttons">
  <button type="button" class="btn btn-success tour">Take a Tour</button>
  <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default get-started">Get Started</button>
</p>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body row">

        <div class="col-md-4">
        </div>

        <div class="col-md-4">
          <div class="error-messages">
          </div>

          <div class="form-content">
            <form action="/users" method="post" class="sign-up-form">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <label for="smallInput">Email<br>
                <input class = "sign-up-user-email" name="user[email]" type="text" class="small input-text" id="smallInput" value="<%= @user.email %>"><br>
              </label><br>
              <label>Username<br>
                <input class = "sign-up-user-name" name="user[user_name]" type="text" value="<%= @user.user_name %>"><br>
              </label><br>
              <label>Password<br>
                <input class = "sign-up-user-pass" name="user[password]" type="password"><br>
              </label><br>
              <button type="submit" class="btn btn-primary sign-up-btn">Submit</button>
            </form>

            <form action="/session" method="post" class="sign-in-form">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <label>Username<br>
                <input class="sign-in-user-name" name="user[user_name]" type="text" value="<%= @user.user_name %>"><br>
              </label><br>
              <label>Password<br>
                <input class="sign-in-user-pass" name="user[password]" type="password"><br>
              </label><br>
              <button type="submit" class="btn btn-primary sign-in-btn">Submit</button>
            </form>
          </div>
        </div>

        <div class="col-md-2">
        </div>
        <div class="col-md-2">
          <a class="login-style-link">New User?</a>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<%= image_tag "feedly-showcase.png", alt: "All the Devices", class: "feedly-showcase" %>

<% content_for :scripts do %>
<script>
$('.login-style-link').on('click', function(){
  if ($('#myModalLabel').text() == "Sign Up"){
    $('.error-messages').html("");
    $('#myModalLabel').html('Sign In');
    $('.sign-in-form').show();
    $('.sign-up-form').hide();
    $('.login-style-link').html('Sign Up');
  } else {
    $('.error-messages').html("");
    $('#myModalLabel').html('Sign Up');
    $('.sign-in-form').hide();
    $('.sign-up-form').show();
    $('.login-style-link').html('Sign In');
  }
});

$('#myModal').on('hidden.bs.modal', function () {
  $('.error-messages').html("");
  $('#myModalLabel').html('Sign In');
  $('.sign-in-form').show();
  $('.sign-up-form').hide();
  $('.login-style-link').html('Sign Up');
});

$('.sign-in-form').submit(function(event){
  event.preventDefault();
  userName = $('.sign-in-user-name').val();
  userPass = $('.sign-in-user-pass').val();

  $.ajax({
  type: 'POST',
  url: '/session',
  data: {user: {user_name: userName, password: userPass} },
  success: function(){
    window.location = "/";
    },
  error: function(msg){
    $('.error-messages').html(msg.responseText);
    }
  });
});

$('.sign-up-form').submit(function(event){
  event.preventDefault();
  userName = $('.sign-up-user-name').val();
  userPass = $('.sign-up-user-pass').val();
  userEmail = $('.sign-up-user-email').val();

  $.ajax({
  type: 'POST',
  url: '/users',
  data: {user: {user_name: userName, password: userPass, email: userEmail} },
  success: function(){
    console.log("Logged in.");
    window.location = "/";
    },
  error: function(msg){
    $('.error-messages').html(msg.responseText);
    }
  });
});

$('.tour').on('click', function(){
  $.ajax({
  type: 'POST',
  url: '/session',
  data: {user: {user_name: "demo", password: "password"} },
  success: function(){
    window.location = "/";
  },
  error: function(msg){
    $('.error-messages').html(msg.responseText);
  }
  });
});

</script>

<% end %>
