<div class="modal-body row">
  <div class="col-md-4">
    <a href="#/feeds/<%= entry.get('feed_id') %>/entries/<%= entry.id %>">
    <img class="entry-thumb-nail" src="<%= entry.get('image_thumb') %>" alt="" />
    </a>
  </div>

  <div class="col-md-4">
    <a href="#/feeds/<%= entry.get('feed_id') %>/entries/<%= entry.id %>">
      <h3 class="entry-title"><%= entry.get('title') %></h3>
    </a>
    <div class="rate-entry"></div>
  </div>
  <div class="col-md-4">
    <p class="entry-list-description"><%= description %></p>
  </div>
</div>
