<!DOCTYPE html>
<html>
  <head>
  	<title>Redly</title>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'feedly-512.png' %>
  </head>
  <body>

    <%= yield %>

    <%= javascript_include_tag "application" %>

    <%= yield :scripts %>
  </body>
</html>
