<!DOCTYPE html>
<html>
  <head>
  	<title>Redly</title>

  	<%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <% if flash[:errors] %>
      <div class="alert-box warning" role="alert">
        <%= flash[:errors].join("<br>").html_safe %>
      </div>
    <% end %>

    <%= yield %>


    <%= javascript_include_tag "application" %>
  </body>
</html>
